<!DOCTYPE html>
<html lang="en">
    <head><title>Info</title></head>
    <body>
        <p>
            Phonebook has info for {{numPersons}} people
            <br/><br/>
            {{now}}
        </p>
    </body>
</html>